<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flight - Travel and Tour</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='img/logo-i.png') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css search -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <!-- css bonus -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-bonus/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-bonus/owl-carousel.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".goToTop > a").hide();
            $(".goToTop > a").click(function() {
                $("html, body").animate({scrollTop:0}, 800);
			});
			$(window).scroll(function() {
				if ($("html, body").scrollTop() > 200) {
					$(".goToTop > a").fadeIn("slow");
				} else {
					$(".goToTop > a").fadeOut("slow");
				}
			});
		});
	</script>

</head>

<body class="container">

    <div class="goToTop">
        <a href="#top"><img src="{{ url_for('static', filename='img/go-to-top.png') }}"/></a>
    </div>

    <section class="page-heading container" id="top">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <a href="{{ url_for('search_flight') }}">
                            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Flight Template">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="page-direction-button">
                        <a href="{{ url_for('search_flight') }}"><i class="fa fa-home"></i>Go Back Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="navbar">
        <a href="#" style="width:12%"><img src="{{ url_for('static', filename='img/vna.png') }}"></a>
        <a class="navbar-hover" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="navbar-hover" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a class="navbar-hover" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-hover" href="{{ url_for('login_staff') }}"><i class="fa fa-user"></i> </a>
            <a class="navbar-hover" href="{{ url_for('logout_usr') }}"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>

v
    {% block function %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/tranphanhuy1502"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright &copy; 2020 Phan Huy Tran and Do Trong Nguyen</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>