{% extends 'base/index.html' %}

{% block login_staff %}
    <div class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <span class="hover-user">
            <a class="navbar-hover"><i class="fa fa-user"> User</i></a>
            <div class="sub-content">
                <span>Username: </span>{{ current_user.username }}
            </div>
        </span>
        <a class="navbar-hover" href="{{ url_for('logout_usr') }}"><i class="fa fa-sign-out"> Log out</i></a>
        {% else %}
        <a class="navbar-hover" href="{{ url_for('login_staff') }}"><i class="fa fa-sign-in"></i> Sign in</a>
        <a class="navbar-hover" href="{{ url_for('register') }}"><i class="fa fa-user-plus"></i> Sign up</a>
        {% endif %}
    </div>
{% endblock %}

{% block function %}
<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>report sales of tickets for flights</h2>
                </div>
            </div>
            <div class="report-month">
                <span>Month: </span>
                <span>11</span>
            </div>
            <table class="table table-hover" style="text-align:left">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Flight</th>
                    <th scope="col">Tickets</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Revenue</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ho Chi Minh city - Tien Giang</td>
                    <td>335</td>
                    <td>80%</td>
                    <td>167.500.000</td>
                </tr>
                </tbody>
            </table>
        </div><br/><br/><br/><br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>annual sales report</h2>
                </div>
            </div>
            <div class="report-month">
                <span>Year: </span>
                <span>2020</span>
            </div>
            <table class="table table-hover" style="text-align:left">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Month</th>
                    <th scope="col">Flights</th>
                    <th scope="col">Revenue</th>
                    <th scope="col">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>11</td>
                    <td>101</td>
                    <td>16.917.500.000</td>
                    <td>72%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}